@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common styles */

@layer base {
    /* @import "common/variables.css"; */
    /* @import "common/mixins.css"; */
    @import "common/fonts.css";
    /* @import "common/general.css"; */
    a {
        @apply hover:underline text-blue-600 hover:text-blue-500 focus:text-blue-500;
    }

    p {
        @apply font-sans text-base tracking-normal;
    }

    h1 {
        @apply text-3xl;
    }

    section {
        @apply w-full;
    }

    .section {
        @apply my-72;
    }

    .container {
        @apply px-4;
        max-width: 1392px;
    }
}

@layer components {
    /* @import "common/buttons.css"; */
    /* @import "common/flash.css"; */
    /* @import "common/header.css"; */
    /* @import "common/footer.css"; */

    .container-max {
        max-width: 1392px !important;
        @screen xl {
            padding-left: 80px !important;
            padding-right: 80px !important;
        }
    }
    .container-sm {
        max-width: 640px;
    }

    .container-md {
        max-width: 1024px;
    }
    /* --------========≡≡≡≡≡--| TYPOGRAPHY |--≡≡≡≡≡========-------- */

    .lead {
        @apply tracking-normal text-lead font-light mb-6;
    }
    .sub-1 {
        @apply text-lg font-bold tracking-normal;
    }
    .sub-2 {
        @apply text-xl font-bold tracking-normal;
    }
    .headline-1 {
        @apply text-2xl font-bold tracking-normal;
    }
    .headline-2 {
        @apply text-3xl font-bold tracking-normal;
    }
    .headline-3 {
        @apply text-4xl font-bold tracking-normal;
    }
    .headline-4 {
        @apply font-bold tracking-normal text-hd;
    }
    .label {
        @apply font-sans font-bold uppercase text-button;
    }

    .article-thumb {
        @apply object-cover w-full max-h-64;
    }
}

@layer utilities {
    .markdown {
        @apply text-lg text-gray-900 leading-normal;
        & > * + *,  & li + li, & li > p + p {
            @apply mt-6;
        }
        & strong {
            @apply text-black font-bold;
        }
        & a {
            @apply text-black font-semibold;
        }
        & strong a {
            @apply font-bold;
        }
        & h2 {
            @apply leading-tight text-xl font-bold text-black mb-2 mt-10;
        }
        & h3 {
            @apply leading-tight text-lg font-bold text-black mt-8 -mb-2;
        }
        & code {
            @apply font-mono text-sm inline bg-gray-300 px-1;
        }
        & pre code {
            @apply block bg-black p-4 rounded;
        }
        & blockquote {
            @apply border-l-4 border-gray-400 pl-4 italic;
        }
        & ul, & ol {
            @apply pl-5;
            @screen sm {
                @apply pl-10;
            }
        }
    }
}

@screen xl {
    .container {
        @apply px-0;
    }
}

.prose a {
    color: rgba(37, 99, 235, 1);
    &:hover, &:focus, &:active {
        color: rgba(59, 130, 246, 1);
    }
}
